@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.container {
  display: flex;
  flex-direction: column;
  
}

/* .content {
  min-height: inherit;
} */


.nav-container {
  position: fixed;
  top: 0;
  z-index: 50;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color:  rgb(229 229 229);
}

.nav-container h3 {
  color:  rgb(23 23 23);
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
  font-size: 1.15rem;
  cursor: pointer;
}

.bar ul {
  margin-right: 10px;

}


.nav-container a {
  text-decoration: none;
  cursor: pointer;
}

.bar button{
  color:  rgb(64 64 64);
  font-size: 1rem;
  margin-right: 40px;
  background-color: rgb(229 229 229);
  border: none;
  cursor: pointer;
}

.bar button:hover {
  color: white;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(55 65 81);
}

.nav-container .menu {
  display: none;
}

.blogs-container {
  margin: 80px auto;
  width: 80%;
}

.blogs-container > p {
  text-align: center;
  font-size: 1.2rem;
  text-transform :uppercase;
  color:  rgb(64 64 64);
  margin-bottom: 20px;
}

.blog {
  background-color: white;
  margin-bottom: 40px;
  border-right: solid;
  border-bottom: solid;
  border-color: rgb(232, 235, 233);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.blog:hover {
   box-shadow: 0 10px 18px -3px rgb(0 0 0 / 0.5);
}

.blog:hover .category {
  color: blue;
  opacity: 0.4;
}

.img-container img {
  display: inline-block;
  margin: 30px 10px;
  height: 150px;
  width: 210px;
  border-radius: 10px;
}

.blog-details {
  position: absolute;
  left: 250px;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 70%;
}

.rest {
  margin: 10px 0;
}

.blog-details h4 {
  margin-bottom: 10px ;
  color: rgb(55 65 81);
  font-size: 1.2rem;
}

i {
  cursor: pointer;
}


.rest   p {
  margin-bottom: 15px;
  text-transform: none;
}


.date-created {
  margin-top: 30px;
  text-decoration: underline;
  font-size: 14px;
}

.blogs-container .action p {
  margin-right: 40px;
  font-size: 14px;
  font-style: italic;
  user-select: none;
}


.category {
  margin-bottom: 15px;
  letter-spacing:  0.1rem
}

.fa-paintbrush {
  margin-right: 8px;
}

.single-blog {
  width: 90%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

.single-img-container > img {
  width: 100%;
  height: 420px;
  margin: 0 auto 0 auto;
  border-radius: 5px;
}

.identifiers {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  justify-content: space-between;
  width: 100%;
}


.details-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 5px;
}

.details-container > span {
  font-weight: 200;
  font-size: 16px;
  margin: 2px 5px;
  color: #213547;

}

.content-conatainer {
  width: 100%;
  margin: 10px auto;
}

.content-conatainer > h2 {
  color: #213547;
  margin-bottom: 15px;
}

.content-conatainer p {
  padding-left: 7px;
  text-align: justify;
  line-height: 1.5
}


.identifiers img {
  width: 40px;
  height: 40px;
  border: 0.5px solid green;
  padding: 1px;
  border-radius: 30px;
  display: inline;
  margin-right: 5px;
}

.action-container i {
  position: relative;
  top: 10px;
  margin-right: 5px;
}

.fa-regular {
  margin-left: 20px
}

.fa-trash:hover {
  color: red;
}

.fa-regular:hover {
  color: blue;
}

.loader {
  border: 4px solid  rgb(156 163 175);
  border-right-color: transparent;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  margin: 120px auto;
  animation: loader ease-out 1s infinite;
}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

    100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, 0.5);
}
 
.modal {
  position: fixed;
  top: 8%;
  left: 35%;
  z-index: 100;
  margin: auto;
}

.modal > section {
z-index: 100;
background: white;
margin: 8%;
height: 200px;
border-radius: 15px;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 50px;
}

.modal > section  h3 {
  font-size: 22px;
  font-weight: bold;
   color:   rgb(55 65 81);
  margin: 20px 2px;
}

.modal > section p {
  text-align: center;
  width: 260px;
  font-size: 20px;
  margin-bottom: 30px;
}


.buttons-container button {
  cursor: pointer;
  margin: 2px 10px;
  padding: 10px 15px;
  background-color: rgb(209 213 219);
  border: none;
  border-radius: 5px;
}

.buttons-container button:first-child {
  	background-color: rgb(75 85 99);
    color: white;
}

.buttons-container button:hover {
    background-color: rgb(156 163 175);
}

.form-container {
  display: flex;
  align-items: flex-start;
  width: 60%;
  margin: 85px auto 80px auto;
  flex-direction: column;
}

label {
    display: block;
    margin: 5px 0;
    font-size: 1.2rem;
}

.title-container label{
  margin: 0 0;
}

.content-container, .author-container, 
.title-container, .category-container,
.button-container {
  width: 100%;
}

.author-container {
  position: relative;
}

.fa-user {
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 10px;
  opacity: 0.3;
  margin-left: 10px;
}

input, select {
  margin:5px 0 0 0;
  width: 100%;
  height: 35px; 
  background-color: #d0edf0;
  font-size: 1.2rem;
  outline-color: #26c0ab;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  width: 100%;
  background-color: rgb(163 163 163);
  color: rgb(38 38 38);
  border:  none; 
  padding: 10px 0;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #d0edf0;
  transition: all 0.5s;
}

textarea {
  font-size: 1.1rem;
  height: 252px;
  width: 100%;
  resize: vertical;
  overflow-y: auto;
  background-color: #d0edf0;
  outline-color: #26c0ab;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  text-align: center;
  color:  rgb(64 64 64);
  background-color:  rgb(229 229 229);
  position: fixed;
  bottom: 0;
  z-index: 50;
}

footer a {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: rgb(64 64 64);
}

footer a:hover {
  color: blue;
  cursor: pointer;
}


@media  screen and (max-width: 770px) {
.nav-container {
  width: 100vw;
}

  .nav-container h3 {
      margin-left: 32px;
  }

  .nav-container .menu {
    display: block;
    padding: 7px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
  }

  .nav-container .menu:hover {
    background-color: rgb(55 65 81);
    color: white;
  }

  .bar {
  width: 100%;
  position: absolute;
  left: 0;
  background-color:  rgb(229 229 229);
  }


  .bar ul {
  display: flex;
  flex-direction: column;
  height: 6rem;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 55px;
}


.bar ul a {
  margin-top: 15px;
}

.form-container {
  width: 90%;
}

label, input, select {
  margin: 5px 0 0 0;
}

.content-container{
  width: 100%;
}

textarea {
  height: 125px;
  width: 100%;
}

.blogs-container {
  width: 90%;
}

.blog {
  flex-direction: column;
  align-items: center;
  width: 90%;
   box-shadow: -1px 10px 15px -3px rgb(0 0 0 / 0.2);
  margin: 30px auto;
}


.img-container img {
  display: block;
  width: 90%;
  height: 230px;
  margin: 5px auto;
}

.blog-details {
  position: relative;
  width: 90%;
  left: 0;
}


.action  > p{
  margin-top: 15px;
  font-size:20px;
}

.single-img-container img {
  width: 90%;
  margin: 0 5% 0 5%;
  height: 180px;
}

.identifiers {
  margin: 0;
  width: 100%;
  flex-direction: column;
  position: relative;
}


.details-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 5px;
}

.details-container span {
  font-size: 14px;
  margin: 4px;
}

.content-conatainer> h2 {
  margin-top: 10px;
}


.content-conatainer p {
  padding-left: 7px;
  text-align: justify;
  line-height: 1.5
}


.identifiers img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 5px;
}

.fa-regular {
  margin-left: 5px;
}

.action-container {
  position: absolute;
  left: 70px;
  top: 25px;
}

.modal {
  top: 5%;
  left: 5%;
  width: 80%;
}

.modal > section {
  margin-top: 18%;
  width: 100%;
  padding: 10px 20px;
   height: 222px;
}

.modal > section p {
  line-height: 1.4;
  width: 270px;
}
}