@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.container {
  display: flex;
  flex-direction: column;
  
}

/* .content {
  min-height: inherit;
} */


.nav-container {
  position: fixed;
  top: 0;
  z-index: 50;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color:  rgb(229 229 229);
}

.nav-container h3 {
  color:  rgb(23 23 23);
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
  font-size: 1.15rem;
  cursor: pointer;
}

.bar ul {
  margin-right: 10px;

}


.nav-container a {
  text-decoration: none;
  cursor: pointer;
}

.bar button{
  color:  rgb(64 64 64);
  font-size: 1rem;
  margin-right: 40px;
  background-color: rgb(229 229 229);
  border: none;
  cursor: pointer;
}

.bar button:hover {
  color: white;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(55 65 81);
}

.nav-container .menu {
  display: none;
}

.blogs-container {
  margin: 80px auto;
  width: 80%;
}

.blogs-container p {
  text-align: center;
  font-size: 1.2rem;
  text-transform :uppercase;
  color:  rgb(64 64 64);
  margin-bottom: 20px;
}

.blog {
  background-color: white;
  margin-bottom: 70px;
  border-right: solid;
  border-bottom: solid;
  border-color: rgb(232, 235, 233);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.blog:hover {
  transform: scale(1.01)
}

.img-container img {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.blog-details {
  position: absolute;
  left: 250px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.rest {
  margin: auto 0;
}

.blog-details h4 {
  margin: 20px 0;
  color: rgb(55 65 81);
  text-transform: capitalize;
  font-size: 1.2rem;
}


.rest   p {
  margin-bottom: 8px;
  text-transform: none;
}


.blogs-container .action p {
  margin-right: 40px;
  text-transform: capitalize;
  font-style: italic;
  user-select: none;
}


.blogs-container .action p:hover {
  text-decoration: underline;
}

.category {
  color: rgb(20 184 166);
  margin-bottom: 25px;
}

.single-blog {
  width: 90%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  margin: 70px auto;
  display: flex;
  flex-direction: column;
}

.single-img-container img {
  width: 90%;
  margin: 0 5% 0 5%;
  border-radius: 5px;
  /* height: 300px; */
}

.identifiers {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-between;
}


.details-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 5px;
}

.details-container span {
  font-size: 14px;
  margin: 4px;
}

.content-conatainer {
  border: 1px solid red; 
  margin-top: 20px;
}

.content-conatainer p {
  padding-left: 7px;
  text-align: justify;
  line-height: 1.5
}


.identifiers img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: inline;
  margin-left: 5px;
}

.action-container i {
  position: relative;
  top: 10px;
  margin-right: 5px;
}

.fa-trash {
  color: red;
}

.fa-regular {
  color: blue;
}

.loader {
  border: 4px solid  rgb(156 163 175);
  border-right: none;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  margin: 120px auto;
  animation: loader ease-out 1s infinite;
}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

    50% {
    transform: rotate(180deg);
  }

    100% {
    transform: rotate(360deg);
  }
}

.form-container {
  display: flex;
  align-items: flex-start;
  width: 60%;
  margin: 85px auto 80px auto;
  flex-direction: column;
}

label {
    display: block;
    margin: 5px 0;
    font-size: 1.2rem;
}

.title-container label{
  margin: 0 0;
}

.content-container, .author-container, 
.title-container, .category-container,
.button-container {
  width: 100%;
}

.author-container {
  position: relative;
}

i {
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 10px;
  opacity: 0.3;
  margin-left: 10px;
}

input, select {
  margin:5px 0 0 0;
  width: 100%;
  height: 35px; 
  background-color: #d0edf0;
  font-size: 1.2rem;
  outline-color: #26c0ab;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  width: 100%;
  background-color: rgb(163 163 163);
  color: rgb(38 38 38);
  border:  none; 
  padding: 10px 0;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #d0edf0;
  transition: all 0.5s;
}

textarea {
  height: 252px;
  width: 100%;
  resize: vertical;
  overflow-y: auto;
  background-color: #d0edf0;
  outline-color: #26c0ab;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  text-align: center;
  color:  rgb(64 64 64);
  background-color:  rgb(229 229 229);
  position: fixed;
  bottom: 0;
  z-index: 50;
}

footer a {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: rgb(64 64 64);
}

footer a:hover {
  color: blue;
  cursor: pointer;
}


@media  screen and (max-width: 770px) {
.nav-container {
  width: 100vw;
}

  .nav-container h3 {
      margin-left: 32px;
  }

  .nav-container .menu {
    display: block;
    padding: 7px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
  }

  .nav-container .menu:hover {
    background-color: rgb(55 65 81);
    color: white;
  }

  .bar {
  width: 100%;
  position: absolute;
  left: 0;
  background-color:  rgb(229 229 229);
  }


  .bar ul {
  display: flex;
  flex-direction: column;
  height: 6rem;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 55px;
}


.bar ul a {
  margin-top: 15px;
}

.form-container {
  width: 90%;
}

label, input, select {
  margin: 5px 0 0 0;
}

.content-container{
  width: 100%;
}

textarea {
  height: 125px;
  width: 100%;
}

.blogs-container {
  width: 90%;
}

.blog {
  flex-direction: column;
  align-items: center;
}

.img-container img {
  display: block;
  width: 100%;
}

.blog-details {
  position: relative;
  width: 100%;
  left: 0;
}

}